.govuk-header {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.govuk-header__container {
  border-bottom: 0;
}

.govuk-header__link--service-name {
  font-weight: normal;
}

.govuk-header__link:link, .govuk-header__link:visited {
  color: #0b0c0c;
}
